<!DOCTYPE html>
<html>
<head>
    <title>Introduction</title>
</head>
<body>
    <h1>Introduction myself</h1>
    <img src="https://lh3.googleusercontent.com/VGUmfYGtNi-MmhD1V-G5CRGWmYs61FoEVlXFpQMjaOKGZByf5SsRO-9JeSfBFdaEjxXBpLc-DWZFDDywMfLnpTvT0nBgxCpvcOOIVP3QE8Sx7juxVO2nIB2u2wbPiY62bIzb0WMraqVpJpKzfAgq7eikytbOovf7Nm2pcJt7DZjQm07YWU1ipJ3-rQlD3cIbrxfHhATgVC9eEWd2K875IuGFFKZ5FSjmClm-LSfUCjZreQgn051Eo7txhgaye8ATW-jJaaeO-rixEIkJScam9iG4DrB7jrbnmGXY5e_xrMTFqCUJAQ8KO8ocCyciWW2j6IDLpOY8q5blXZFq3cKILIElLRWAIrAxko23eA6YqpR5fwqok8Y4encNaM0h8eSOsqpc4R2PlGk8F3byz2ibz5XzPUHmM7Fxqskqq1Gl9BxCWhtXu76CYENtZepYo057M9gdqQOfhrKZ-vmYZF6CQUapSvvV6uQ6gFVkvo6JZ1M1BPFxJbUOfUBTypBrC5I2cFRQMawbzSwbRX3buKZAlKTKX95y1TJ5I7EwCnFhowgpxdRqmeHMLGTssWv1ZX9NVCk=w474-h711-no" alt="Profile picture" height="240" width="160">
    <ul>
        <li>Name: Anh Nguyen (Duy)</li>
        <li>Address: 60B Palosaari, 65200, Vaasa</li>
        <li>Hobbies: Play games, Watch movies, Sleep overtime, Listen to musics, Play some kinds of sport</li>
        <li>Previous experience: I knew a little bit about HTML, CSS and Java Script. I have been studying Python and Wordpress myself for several months. I have never done any real project.</li>
        <li>My 3 favorite sites: </li>
        <ol>
            <li><a href="http://www.youtube.com">Youtube</a></li>
            <li><a href="http://www.imdb.com">IMDB</a></li>
            <li><a href="http://www.dotabuff.com">Dotabuff</a></li>
        </ol>
    </ul>
    <h2>Feedback</h2>
    <form action="{{url_for('feedback')}}" method="post">
        <input placeholder="Email Address" type="text" name="client_mail" style="height:25px"><br>
        <textarea placeholder="Type message here..." name="message" cols="40" rows="7"></textarea><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>